.Rproj.user
.Rhistory
.RData
.Ruserdata

metastore_db
*.log

datasets/transacoes_parquet/
datasets/produtos_parquet/

datasets/transacoes.csv
datasets/produtos.csv
datasets/transacoes_por_loja.csv

resultados/

.Renviron